:root {
  --grid-tab-bg: #bae7ffB3;
  // primary grid bg-color
  --grid-primary-bg-color-1: #646cff1A;
  --grid-primary-bg-color-3: #646cff4D;
  --grid-primary-bg-color-5: #646cff80;
  --grid-primary-bg-color-7: #646cffB3;
  --grid-primary-bg-color-9: #646cffE6;
  --grid-primary-bg-color: #646cff;
  // default grid bg-color
  --grid-default-bg-color-1: #dee1e61A;
  --grid-default-bg-color-3: #dee1e64D;
  --grid-default-bg-color-5: #dee1e680;
  --grid-default-bg-color-7: #dee1e6B3;
  --grid-default-bg-color-9: #dee1e6E6;
  --grid-default-bg-color: #dee1e6;
}

@navbar-height: 60px;
@layout-shadow: 0px 0px 8px rgb(0 21 41 / 11%);
@tab-shadow: 0 3px 8px rgb(0 21 41 / 11%);
@tab-height: 42px;
@layout-default-tab-shadow: 4px 3px 8px rgb(0 21 41 / 11%);

.grid-btn {
  padding: 7px;
  box-sizing: content-box;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--grid-default-bg-color-7);
  }
}